<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Bank Application Registration</title>
        <link rel="stylesheet" href="/styles/register.css">
    </head>
    <body>
        <div class="register_container">
            <h1>Welcome to the ABC Bank Application</h1>
            <h2>Register</h2>
            <form th:action="@{/register}" method="post">
                <table>
                    <tr>
                        <td>
                            <label for="username">Username:</label>
                        </td>
                        <td>
                            <input type="text" id="username" name="username" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Password:</label>
                        </td>
                        <td>
                            <input type="password" id="password" name="password" required>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btnRegister" type="submit">Register</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>Already have an account? <a href="/login">Login Here!</a></p>
                        </td>
                    </tr>
                </table>
            </form>

        </div>
        <div th:if="${param.error}">
            <p style="color: red;">Registration failed. Please try again.</p>
        </div>
        <div th:if="${param.success}">
            <p style="color: green;">Registration successful! You can now log in.</p>
        </div>
        <div th:if="${param.username}">
            <p style="color: red;">Username already exists. Please choose a different one.</p>
        </div>
    </body>
</html>