*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
}

nav{
    background-color: #fcfbfb;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.companyName{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li{
    display: inline;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

nav ul li a:hover{
    color: #007bff;
}

main h1{
    margin: 20px;
}

.account_info{
    background-color: #a4d0ff;
    margin: 0 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.account_info h3{
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-decoration: underline;
}

.history{
    margin: 20px;
    padding: 20px;
    background-color: #a4d0ff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #333;
}